.navbar-toggle {
    padding: 6px 12px;
}

.jumbotron {
    margin-top: -20px;
    margin-bottom: 0;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url('../img/electronics.jpeg');
}

.jumbotron h1, 
.jumbotron h2, 
.jumbotron p {
    color: #FFFFFF;
}

.media-object {
    max-width: 80px !important; 
}

.text-white {
    color: #FFF;
}

#footer {
    background-color: #2C3E50;
}